/* Variables */
:root {

}

/* Globales */
html {
    box-sizing: inherit;
    font-size: 62.5%;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    
}

h1, h2, h3, h4, h5, h6 {

}

h1 {

}

h2 {

}

h3 {

}

h4 {
    
}

.p {

}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
    padding: 5rem;
}